@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.container {
  margin: layout.$spacing-05;
  gap: layout.$spacing-06;
}

.paymentContainer {
  margin: layout.$layout-01;
  padding: layout.$layout-01;
  width: 70%;
  border-right: 1px solid colors.$cool-gray-40;
}

.paymentButtons {
  margin: layout.$layout-01 0;
}

.paymentMethodContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  align-items: baseline;
  gap: layout.$spacing-05;
  margin: layout.$spacing-05 0;
  width: 100%;
}

.paymentTotals {
  margin-top: layout.$spacing-01;
}

.processPayments {
  display: flex;
  justify-content: flex-end;
  margin: layout.$spacing-05;
  column-gap: layout.$spacing-04;
}

.errorPaymentContainer {
  margin: layout.$spacing-04;
  min-height: layout.$spacing-09;
}

.removeButtonContainer {
  display: flex;
  align-self: center;
}

.removeButton {
  color: colors.$red-60;
}
