@use '@carbon/layout';
@use '@carbon/type';

.billWaiverForm {
  margin-top: layout.$spacing-05;
  padding: 0 layout.$spacing-05;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: -1rem;
}

.formControlLayer {
  padding: layout.$spacing-05 0;
}

.billWaiverDescription {
  display: grid;
  grid-template-columns: layout.$spacing-11 1fr;
  column-gap: layout.$spacing-05;
  align-items: center;
  margin-top: layout.$spacing-01;
  margin-bottom: layout.$spacing-03;
}

.label {
  @include type.type-style('heading-compact-01');
}

.value {
  @include type.type-style('body-01');
}
