@use '@carbon/layout';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.tablet {
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

.button {
  height: layout.$spacing-10;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;

  :global(.cds--inline-loading) {
    min-height: layout.$spacing-05 !important;
  }

  :global(.cds--inline-loading__text) {
    font-size: unset !important;
  }
}

.mt2 {
  margin-top: layout.$spacing-07;
}

.searchContent {
  position: absolute;
  background-color: #fff;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  width: 92%;
}

.searchItem {
  border-bottom: 0.1rem solid;
  border-bottom-color: silver;
  cursor: pointer;
}

.invalidInput {
  border: 2px solid red;
}

.removeButton {
  color: #ee0909;
  right: 20px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 6rem);
}

:global(.omrs-breakpoint-lt-desktop) .form {
  background-color: #ededed;
}

:global(.omrs-breakpoint-gt-tablet) .form {
  background-color: $ui-02;
}

.grid {
  margin: layout.$spacing-05;
}

.row {
  margin: layout.$spacing-03 0rem 0rem;
  display: flex;
  flex-flow: row wrap;
  gap: layout.$spacing-05;
}

.spacer {
  margin-top: layout.$spacing-05;
}
