@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';


.itemsContainer {
  display: flex;
  flex-direction: column;
  padding: layout.$spacing-05;
  margin: layout.$spacing-05;
}

.tableContainer {
  min-height: 50vh;
}

.totalContainer {
  display: flex;
  flex-direction: column;
}

.item {
  margin: layout.$spacing-04;
}

.itemHeading {
  @include type.type-style('body-compact-02');
  font-weight: bold;
  color: colors.$cool-gray-90;
  margin-bottom: layout.$spacing-02;
}

.itemTotal {
  border-top: solid 0.1pt colors.$cool-gray-30;
  padding: layout.$spacing-02;
}

.itemLabel {
  float: right;
}

.paymentHistoryContainer{
    margin-top: layout.$spacing-05;
}

.balanceContainer{
  padding: layout.$spacing-02;
  margin-top: layout.$spacing-05;
  border-top: solid 0.1pt colors.$cool-gray-30;
  border-bottom: solid 0.1pt colors.$cool-gray-30;
}
