@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.container {
  padding: layout.$spacing-07;
}

.printableBody {
  .detailsContainer {
    display: flex;
    justify-content: space-between;
    gap: layout.$spacing-07;
  }
  border-bottom: solid 0.1pt colors.$cool-gray-30;
  padding: layout.$spacing-02;
}

.printableHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: layout.$spacing-02;
  margin-bottom: layout.$spacing-02;
}

.logo {
  flex: 1;
}

.img {
  height: auto;
}

.facilityDetails {
  flex: 1;
  text-align: right;
}

.invoiceHeading {
  @include type.type-style('heading-04');
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}

.facilityName {
  @include type.type-style('heading-compact-02');
  font-weight: bold;
  color: colors.$green-70;
}

.sectionHeading {
  @include type.type-style('heading-compact-02');
  margin-bottom: layout.$spacing-04;
  padding-bottom: layout.$spacing-03;
}

.itemLabel {
  @include type.type-style('body-compact-01');
  margin-bottom: layout.$spacing-01;
}
