@use '@carbon/styles/scss/spacing' as *;

.layout {
  display: grid;
  grid-template-columns: 380px 1fr;
  gap: 0;
  min-height: 480px;
}

@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
