@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.sectionContainer {
  margin: 0 layout.$spacing-03;
}

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: colors.$gray-70;
  margin: 0 0 layout.$spacing-03 0;
}

.visitAttributesContainer {
  row-gap: layout.$spacing-03;
  display: flex;
  flex-direction: column;
}

.radioButtonGroup {
  :global(.cds--radio-button-group) {
    :global(.cds--radio-button-wrapper) {
      margin-bottom: layout.$spacing-03;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.stack {
  margin-bottom: layout.$spacing-05;
}
